$body-bg: #141b1c;
$card-bg: #334247;
$list-bg: #2A3438;
$text-color: #FFFF;
$green: #5BB189;
$blue: #3A6BA5;
$orange: #EC632A;
$marking-color: #DC3F45;
$card-width: 380px;
$font-size: 15px;
$size-h: 25px;


